.register-container {
  display: flex;
  height: 100vh;
  background-color: #111;
  color: #fff;
}

/* Panel Izquierdo */
.register-left {
  flex: 1;
  background: linear-gradient(180deg, #6b0000, #1a0000);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
  color: white;
}

.register-left h2 {
  font-size: 2.2rem;
  font-weight: bold;
}

.register-left span {
  color: #ff4d4d;
}

.register-left p {
  margin-top: 10px;
  font-style: italic;
  color: #d6d6d6;
}

.logo-section {
  margin-top: 40px;
}

.logo-img {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}

/* Panel Derecho */
.register-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
}

.card {
  border-radius: 10px;
  background-color: #fff;
}

a {
  text-decoration: none;
}
